version: "3.8"

services:
  resourcemanager:
    container_name: resourcemanager
    hostname: resourcemanager
    image: hadoop-base:3.2.1
    environment:
      YARN_RESOURCEMANAGER_USER: root
    ports:
      - 8088:8088 # yarn
    entrypoint: "/bin/bash"
    command:
      - yarn
      - resourcemanager
    volumes:
      - ./conf/hadoop:/etc/hadoop

  historyserver:
    container_name: historyserver
    hostname: historyserver
    image: hadoop-base:3.2.1
    ports:
      - 8188:8188 # history
    entrypoint: "/bin/bash"
    command:
      - yarn
      - historyserver
    volumes:
      - ./conf/hadoop:/etc/hadoop

  namenode:
    container_name: namenode
    hostname: namenode
    image: hadoop-hdfs:3.2.1
    environment:
      NODE_TYPE: namenode
      HDFS_NAMENODE_USER: root
      CLUSTER_NAME: hadoop-cluster
    volumes:
      - namenode:/hadoop/dfs/namenode
      - ./conf/hadoop:/etc/hadoop
    ports:
      - 50070:50070 # hdfs
      - 8042:8042 # node manager
    depends_on:
      - resourcemanager
      - historyserver

  datanode:
    container_name: datanode
    hostname: datanode
    image: hadoop-hdfs:3.2.1
    environment:
      NODE_TYPE: datanode
      HDFS_DATANODE_USER: root
    volumes:
      - datanode:/hadoop/dfs/datanode
      - ./conf/hadoop:/etc/hadoop
    ports:
      - 50075:50075 # hdfs
      - 8043:8042 # node manager
    depends_on:
      - namenode

  hive-postgres:
    image: postgres:9.4
    container_name: hive-postgres
    hostname: hive-postgres
    ports:
      - 5433:5432
    volumes:
      - ./tmp/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: hive
      POSTGRES_USER: hive
      POSTGRES_DB: metastore

  hive-metastore:
    hostname: hive-metastore
    image: hadoop-hive:3.1.2
    container_name: hive-metastore
    depends_on:
      - hive-postgres
      - datanode
    volumes:
      - ./conf/hadoop:/etc/hadoop
      - ./conf/hive/hive-site.xml:/opt/hive/conf/hive-site.xml
    command: "hive --service metastore"
    ports:
      - 9083:9083

  hive-server:
    hostname: hive-server
    # image: hadoop-hive:3.1.2
    image: hadoop-hive-glue:2.3.6
    container_name: hive-server
    # depends_on:
    #   - hive-metastore
    volumes:
      - ./conf/hadoop:/etc/hadoop
      - ./conf/hive:/opt/hive/conf
    entrypoint: ""
    command: "hiveserver2 --hiveconf hive.root.logger=INFO,DRFA,Console,WARNING,ERROR"
    ports:
      - 10002:10002
    environment:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
volumes:
  namenode:
  datanode:

networks:
  default:
    name: hadoop-cluster-network
